<form #f="ngForm" (ngSubmit)="submit(f)" class="login-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput name="username" ngModel placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" ngModel placeholder="Password" required type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</form>
